backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env
backend/firebase-adminsdk.json
backend/alembic.ini
backend/alembic/env.pyc
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/local.properties
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Runner.xcworkspace/
mobile/macos/Flutter/ephemeral/
mobile/macos/Pods/
.idea/
